body{
    background-color: #175A07;
}

h1{
    font-size: 46px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;      
}


#customers {
    font-family: sans-serif;
    border-collapse: collapse;
    background-color: white;
    width: 50%;
    margin: auto;
}

#customers td, #customers th {
    border: 1px solid #ddd;

}

#customers td{
    text-align: center;
}

#customers tr:nth-child(even){background-color: #F4F5F9;}/*el otro color que tendra la tabla demas del blanco*/

#customers tr:hover {background-color: #D4F1CC;}/*color cuando el cursor esta encima*/

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #6CBC33;/*color de los titulos*/
    color: white;
}

.eliminar{
    text-transform: uppercase;
    padding: 2px 10px;
    border-radius: 10px;
    border: 0;
    background: #920000;
    color: #fff;
    cursor: pointer;
}
.editar{
    text-transform: uppercase;
    padding: 2px 15px;
    border-radius: 14px;
    border: 0;
    background: #344197;
    color: #fff;
    cursor: pointer;
}
.agregar{
    
    border-radius: 4px;
    background-color: #f4511e;
    border: #f4511e;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.delete_modal{
    font-size: 12px;
    margin: 30px 90px 0px 0px;
    text-align: center;
}
.ui-dialog-title{
    font-size: 12px;
}
.ui-button-text{
    font-size: 12px;
}
.insert_modal,.edit_modal{
    font-size: 12px;
    margin: 30px 0px 0px 80px;
}